.content{
    /* height: 300px; */
    width: 250px;
    border-width: 2px;
    border-style: solid;
}
.nav1,.nav2{
    height: 140px;
    width: 60px;
    border-width: 2px;
    border-style: solid;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}
.nav3{
    height: 140px;
    width: 70px;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
    display: inline-block;
}
.footer{
    /* height: 80px; */
    width: 230px;
    border-width: 2px;
    border-style: solid;
margin-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
}
.f1,.f2,.f3{
    height: 60px;
    width: 54px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 5px;
    margin-bottom: 5px;

}
*{
    border-width: 5px !important;
}